    .centeredImage {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -216px;
        margin-left: -226px;
    }

    .centeredFbLogo {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-top: 241px;
        margin-left: -25px;
    }    
    .centeredAPOLogo {
        position: absolute;
        width: 19px;
        height: 25px;
        top: 50%;
        left: 50%;
        margin-top: 300px;
        margin-left: -9px;
    }